html,
body {
    height: 210%;
    max-width: 100%;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    margin: 0%;
    padding:0%
}

@font-face {
    font-family:"Public Sans";
    src: url("Public Sans/static/PublicSans-Thin.ttf") format("truetype");
    font-weight: 300, 400, 700;
}

@font-face {
    font-family:"Public Sans Grey";
    src: url("Public Sans/static/PublicSans-SemiBold.ttf") format("truetype");
    font-weight: 300, 400, 700;
}

h1 {
    font-family: "Public Sans";
}

p {
    font-family: "Public Sans Grey";
    font-size: 15px;
    color: grey;
}

.button:focus {
    outline: none;
    padding: 0;
    border: none;
    background: none;
}

#logo {
    width: 20%;
    height: 27%;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
}


#intro_mobile {
    width: 100%;
    height: 50%;
    display: flex;
    margin: auto;
    position: absolute;
    top: -1%;
    left: 0%;
}

#mockups {
    width: 85%;
    height: 54%;
    display: flex;
    margin: auto;
    position: absolute;
    top: -65px;
    left: 8%;
}

#credit_cards  {
    width: 20%;
    height: 9%;
    display: flex;
    margin: auto;
    position: absolute;
    top: 890px;
    left: 40%;
}

#budgeting {
    width: 20%;
    height: 9%;
    display: flex;
    margin: auto;
    position: absolute;
    top: 1110px;
    left: 40%;
}

#onboarding {
    width: 20%;
    height: 9%;
    display: flex;
    margin: auto;
    position: absolute;
    top: 1330px;
    left: 40%;
}

#api {
    width: 20%;
    height: 9%;
    display: flex;
    margin: auto;
    position: absolute;
    top: 1550px;
    left: 40%;
}

#currency {
    width: 100%;
    height: 50%;
    display: flex;
    margin: auto;
    position: absolute;
    top: auto;
    left: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#restaurant {
    width: 100%;
    height: 50%;
    display: flex;
    margin: auto;
    position: absolute;
    top: auto;
    left: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#plane {
    width: 100%;
    height: 50%;
    display: flex;
    margin: auto;
    position: absolute;
    top: auto;
    left: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#confetti {
    width: 100%;
    height: 50%;
    display: flex;
    margin: auto;
    position: absolute;
    top: auto;
    left: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#logo1 {
    width: 35%;
    height: auto;
    display: flex;
    margin: auto;
    position: absolute;
    top: 6%;
    left: 33%;
    filter: invert(100%);
} 

#facebook {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    position: absolute;
    top: 16%;
    left: 27%;
}

#youtube {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    position: absolute;
    top: 16%;
    left: 37%;
}

#twitter {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    position: absolute;
    top: 16%;
    left: 47%;
}

#pintrest {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    position: absolute;
    top: 16%;
    left: 58%;
}

#instagram {
    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    position: absolute;
    top: 16%;
    left: 69%;
}

.banner {
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    width: 800px;
    height: 9%;
    left: center;
    margin: -25px 0 0 -25px;
    display: flex;
}

.next_gen {
    background-color: white;
    width: 80%;
    height: 30%;
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 10%;
}

.request_invite {
    background:
    linear-gradient(to top left, hsl(192, 70%, 51%), transparent),
    linear-gradient(to top right, hsl(136, 86%, 42%), transparent);
    background-blend-mode: difference;
    width: 40%;
    height: 15%;
    position: absolute;
    display: inline-block;
    top: 85%;
    left: 28%;
    border-radius: 20px;
    line-height: 50%; 
}

.back_div {
    background-color: hsl(0, 0%, 98%);
    width: 101%;
    height: 1120px;
    position: absolute;
    display: flex;
    top: 690px;
    left: -1%;
    overflow: hidden;
}

.why_choose {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 20%;
    position: absolute;
    display: inline-block;
    top: 690px;
    left: 10%;
}

.online_banking {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 18%;
    position: absolute;
    display: inline-block;
    top: 970px;
    left: 10%;
}

.simple_budgeting {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 18%;
    position: absolute;
    display: inline-block;
    top: 1190px;
    left: 10%;
}

.fast_onboarding {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 18%;
    position: absolute;
    display: inline-block;
    top: 1410px;
    left: 10%;
}

.open_api {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 18%;
    position: absolute;
    display: inline-block;
    top: 1630px;
    left: 10%;
}

.latest_articles {
    background-color: white;
    width: 70%;
    height: 100px;
    position: absolute;
    display: flex;
    top: 1840px;
    left: 15%;
    justify-content: center;
    align-items: center;
}

.recieve_money {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 375px;
    position: absolute;
    display: flex;
    top: 1940px;
    left: 10%;
    border-radius: 10px;
}

.recieve_money_des {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 150px;
    position: absolute;
    display: inline;
    top: 2120px;
    left: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.treat_yourself {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 375px;
    position: absolute;
    display: flex;
    top: 2350px;
    left: 10%;
    border-radius: 10px;
}

.treat_yourself_des {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 150px;
    position: absolute;
    display: inline;
    top: 2530px;
    left: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.take_your_easybank {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 375px;
    position: absolute;
    display: flex;
    top: 2750px;
    left: 10%;
    border-radius: 10px;
}

.take_your_easybank_des {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 150px;
    position: absolute;
    display: inline;
    top: 2930px;
    left: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.invite_only {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 375px;
    position: absolute;
    display: flex;
    top: 3160px;
    left: 10%;
    border-radius: 10px;
}

.invite_only_des {
    background-color: hsl(0, 0%, 98%);
    width: 80%;
    height: 150px;
    position: absolute;
    display: inline;
    top: 3340px;
    left: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer {
    background-color: hsl(233, 26%, 24%);
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: absolute;
    display: inline;
    top: 3610px;
    left: 0%;
    text-align: center;
    overflow-x: hidden !important;
}

.footer1 {
    background-color: hsl(233, 26%, 24%);
    width: 101%;
    height: 550px;
    overflow: hidden;
    position: absolute;
    display: inline;
    top: 3610px;
    left: 0px;
    text-align: center;
    overflow-x: hidden !important;
}

.footer_text {
    position: absolute;
    text-align: center;
    display: inline;
    color: white;
    font-family: "Public Sans Grey";
}

.request_invite1 {
    background:
    linear-gradient(to top left, hsl(192, 70%, 51%), transparent),
    linear-gradient(to top right, hsl(136, 86%, 42%), transparent);
    background-blend-mode: difference;
    width: 40%;
    height: 8%;
    position: absolute;
    display: inline-block;
    top: 75%;
    left: 28%;
    border-radius: 30px;
    line-height: 50%;
    text-align: center; 
    border: none; color: white; 
    top: 65%; 
    left: 30%; 
}

@keyframes menu_animation0 {
    from {top:-30%;}
    to {top:8%;}
}

@keyframes menu_animation1 {
    from {opacity: 0%;}
    to {opacity: 31%;}
}  

.dropdown_menu  {
    width: 89%;
    height: 290px;
    top: 0%;
    left: 6%;
    background-color: white;
    position: fixed;
    justify-content: center;
    align-items: center;
    animation-name: menu_animation0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-radius: 10px;
  }

.light_room {
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 4180px;
    position: absolute;
    top: 1%;
    left: 0%;
    animation-name: menu_animation1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    overflow-y: hidden !important;
}

.hidden {
    display: none !important;
}

.shown {
    display: flex !important;
}

.no_scroll {
    overflow: hidden !important; 
}

#menu {
    width: 20%;
    height: 20%;
    display: flex;
    margin: 0;
    position: absolute;
    top: 54%;
    left: 38%;
    overflow-y: hidden;
}

#exit_menu {
    width: 20%;
    height: 20%;
    display: flex;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    overflow-y: hidden;
    display: none;
}